<!-- Top Bar Nav -->
<nav class="w-full py-4 bg-blue-800 shadow">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between">
    <nav>
      <ul
        class="
          flex
          items-center
          justify-between
          font-bold
          text-base text-white
          uppercase
          no-underline
        "
      >
        <li><a class="hover:text-gray-200 hover:underline px-4" href="/">Post</a></li>
        <li><a class="hover:text-gray-200 hover:underline px-4" href="/about">About</a></li>
      </ul>
    </nav>

    <div
      class="
        flex
        items-center
        justify-between
        font-bold
        text-base text-white
        uppercase
        no-underline
      "
    >
      <a class="hover:text-gray-200 hover:underline px-4" href="/api/signup">Sign Up</a>
      <% if (!token) { %>
      <a class="hover:text-gray-200 hover:underline px-4" href="/api/login"> Login </a>
      <% } else { %>
      <a
        class="hover:text-gray-200 hover:underline px-4"
        href="javascript:void(0);"
        onclick="javascript:logout.submit();"
      >
        Logout
      </a>
      <form class="hidden" action="/api/logout" method="POST" name="logout"></form>
      <% } %>
    </div>
  </div>
</nav>
