<%- include('./includes/head.ejs') %>
</head>
  <body class="bg-white font-family-karla">
    <!-- nav and title -->
    <%- include('./includes/topNav.ejs') %> <%- include('./includes/textHeader.ejs') %>
    <section class="bg-white">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900">
            About Story Hub
          </h2>
          <p class="mb-4 font-medium">
            Welcome to Story Hub, a place where your stories come to life. Whether you're here to share a personal experience, pen down a fleeting thought, or craft an inspiring tale, Story Hub is your platform to express freely and connect with others.
          </p>
          <p class="mb-4 font-medium">
            At Story Hub, we believe in the power of words and the stories they tell. Our community is built on the idea that every voice deserves to be heard, and every story has the potential to inspire. Here, you can write without boundaries, share without hesitation, and inspire without limits.
          </p>
          <p class="mb-4 font-medium">
            Join us on this journey of creativity and connection. Let your words flow and your stories shine. This is your space to write, share, and inspire.
          </p>
        </div>
      </div>
    </section>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
